
@keyframes animateInfinite {
    0% {
        stroke-dashoffset: 200%;
        stroke-opacity: .8
    }
    100% {
        stroke-dashoffset: 0%;
        stroke-opacity: 0
    }
}

.product {
    margin-bottom: 20px;
    padding: 6px;
    transition: all linear 240ms;
    position: relative;
    border: 1px solid transparent;
    svg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        fill: transparent;
        rect{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            fill: transparent;
        }
    }
    .box-img {
        position: relative;
        overflow: hidden;
        padding-top: 60%;
        margin-bottom: 3px;

        img {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }

    .box-content {
        .portfolio-cat {
            font-size: 12px;
            color: #89b6da;
        }
        .title {
            height: 40px;
            line-height: 20px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            margin: 0px;
            font-size: 15px;
            color: #000;
        }
    }
    a{
        &:hover{
            text-decoration: none;
        }
    }
    &:hover{
        text-decoration: none;
        box-shadow: 0px 15px 80px -30px #00000099;
        transform: translate3d(0px, -1px, 800px) perspective(200px);
        .box-content {
            .title {
                color: #f37121;
            }
        }
        svg{
            stroke: #f37121;
            stroke-width: 2px;
            animation: animateInfinite 3s linear infinite;
            stroke-dasharray: 100%;
            rect{
                stroke: #f37121;
                stroke-width: 2px;
                animation: animateInfinite 3s linear infinite;
                stroke-dasharray: 100%;
            }
        }
    }
}