.section {
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;

    .section-tabs {
        -webkit-overflow-scrolling: touch;
        overflow-y: hidden;
        overflow-x: auto;
        margin-bottom: 20px;
      

        ul {
            list-style: none;
            position: relative;
            display: flex;
            white-space: nowrap;
            padding: 10px 0;

            li {
                text-align: center;
                display: flex;
                margin-right: 10px;
                align-items: center;
                justify-content: center;
                height: 33px;

                a {
                    color: #565656;
                    display: flex;
                    border: 1px solid #f1f1f1;
                    width: 100%;
                    align-items: center;
                    vertical-align: middle;
                    justify-content: center;
                    height: 100%;
                    transition: all linear 240ms;
                    overflow: hidden;
                    padding: 0px 20px;
                }

                &:hover{
                    a{
                        box-shadow: 5px 5px 20px -5px #00000066;
                        transform: translateY(-2px);
                        color: #f37121;
                        border-color: transparent;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}