.contents {
  margin: 30px 4%; }
  .contents .title-contents {
    width: 100%;
    font-size: 26px;
    background-color: #2a5345;
    margin-bottom: 20px; }
  .contents .menu-contents {
    width: 100%;
    height: 60px;
    font-size: 13px;
    line-height: 16px;
    background-color: #4c9b80;
    margin-bottom: 20px; }
  .contents .item-contents .modal-item .modal-item-content {
    height: 300px;
    background-color: #546854; }
